h1 {
	font-family: 'Gamja Flower', cursive;
}
body {
	font-size: 100%; /* устанавливаем базовый размер шрифта для всего документа */
}
h1 {
	font-size: xx-large; /* установлен относительно базового размера шрифта */
}
h2 {
	font-size: x-large;
}
.important {
	font-size: larger; /* делает шрифт несколько больше, чем в родительском элементе 
*/
}
.onePointTwo {
	font-size: 1.2em; /* устанавливает его в 1,2 раза больше базового размера */
}
